@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;

}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(41, 40, 40);
}

h3 {
  font-family: Poppins, sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: rgb(41, 40, 40);
}

h4 {
  font-family: Poppins, sans-serif !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: rgb(41, 40, 40);
}

:root {
  --main-bg-color: #948be9;
  --main-text-color: #00688B;
  --second-text-color: #f8f8f8;
  --second-bg-color: #ebebf5;
}


.coverlogo {
  background-image: url(../img/logo-transparent.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.row.my-5 {
  margin: 0rem !important;
}

.doe {
  color: rgb(255, 255, 255);
}

.john {
  color: rgb(255, 255, 255);
}


.primary-text {
  color: var(--second-bg-color);
  font-family: "Poppins", sans-serif;
}

.second-text {
  color: var(--second-bg-color);
  font-family: "Poppins", sans-serif;
}

.primary-bg {
  background-color: var(--main-bg-color);

}

.secondary-bg {
  background-color: var(--second-bg-color);

}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background: linear-gradient(to right, #FFFDE4, #005AA7) !important;
  font-size: 1.2rem;
}


.navbar-light .navbar-nav .nav-link {
  color: white !important;

}

/* .coverlogo::before {
  content: "";
  background-image: url(../img/phbarangay-logo.png);
  background-size: cover;
  position: absolute;
  top: -40%;
  right: 0px;
  bottom: 0;
  left: 0%;
  opacity: 0.3;
} */




#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  font-size: 1.4rem;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 10%;
  cursor: pointer;

}

.list-group-item a {
  cursor: pointer;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.table-class {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#officials {
  width: 100%;
  font-size: 14px !important;
}

/* .content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    position: relative;
  } */

section {
  height: 86%;
  overflow: hidden;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.836));
}



.add-official-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 15px;
  width: 180px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;

}

.top-section {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* .dataTables_wrapper.dt-bootstrap4.no-footer {
margin-top: 70px;
margin-left: 20px;
margin-right: 20px;

}

#officials_filter.dataTables_filter{
display: flex;
margin: auto;
align-items: center;
justify-content: center; */
/* position: absolute;
  top: 80px;
  right: 30px; */


/* #officials_length.dataTables_length label {
 
}
 */

/* ADD OFFICIALS  */

input {
  width: 300px;
  margin: 10px 10px 20px 10px;
  height: 40px;
  border-color: #06063d;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
}

/* input:focus
{
    border: solid 2.5px #00adb5;

} */
select {
  width: 300px;
  margin: 10px 10px 10px 10px;
  height: 40px;
  border-color: #06063d;
  border-width: 2px;
  border-radius: 12px;
}

.back-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 30px;
  top: 30px;
}

.save {
  position: relative;
}

.save-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 46%;
  margin-top: 30%;

}



.view-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 60px !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  font-weight: 500;

}

.view-btn:hover {
  background-color: #3d3d41;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;

}

.view-btn a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
}



.del-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.close-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.edit_official_btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.edit_official_btn a {
  
  color: white;
  text-decoration: none;
}


.delete-btn {
  background-color: #2a2a72;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.delete-btn a {

  color: white;
  text-decoration: none;
}

.officials-input {
  display: flex;
  flex-direction: row;
  position: relative;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}





.left-input {
  display: block;
  margin: 100px 20px 20px 20px;
  justify-content: flex-start;
}

.right-input {
  display: block;
  margin: 100px 20px 30px 20px;
  justify-content: center;
}

.outer-right-input {
  display: block;
  margin: 100px 20px 20px 20px;
  justify-content: end;
}

canvas#canvas {
  height: 400px !important;

}

canvas#canvas1 {
  height: 280px !important;

}

canvas#canvas2 {
  height: 280px !important;

}

canvas#canvas3 {
  height: 280px !important;

}

canvas#canvas4 {
  height: 280px !important;

}

canvas#dash_Chart {
  height: 240px !important;

}

canvas#bar_ilocos_norte {
  height: 250px !important;
}

canvas#pie_ilocos_norte {
  height: 250px !important;
}

canvas#pie_ilocos_sur{
  height: 250px !important;
}


canvas#bar_ilocos_sur{
  height: 250px !important;
}

canvas#canvas_alilem{
  height: 350px !important;
}



.pb-head {
  display: flex;
  margin: auto;
  align-items: center;
  width: 500px;
  justify-content: start;
}

.sbm-head {
  display: flex;
  margin: auto;
  align-items: center;
  width: 500px;
  justify-content: start;
}


.sk-head {
  display: flex;
  margin: auto;
  align-items: center;
  width: 500px;
  justify-content: start;
}