@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(41, 40, 40);
}

:root {
    --main-bg-color: #948be9;
    --main-text-color: #00688B;
    --second-text-color: #50A6C2;
    --second-bg-color: #ebebf5;

}

/* 
background: #2193b0;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #6dd5ed, #2193b0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+


background: #005AA7;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #FFFDE4, #005AA7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* .coverlogo::before {
    content: "";
    background-image: url(../img/phbarangay-logo.png);
    background-size: cover;
    position: absolute;
    top: -40%;
    right: 0px;
    bottom: 0;
    left: 0%;
    opacity: 0.3;
} */




.doe {
    color: rgb(255, 255, 255);
}

.john {
    color: rgb(255, 255, 255);
}


.primary-text {
    color: var(--second-bg-color);
    font-family: "Poppins", sans-serif;
}

.second-text {
    color: var(--second-bg-color);
    font-family: "Poppins", sans-serif;
}

.primary-bg {
    background-color: var(--main-bg-color);

}

.secondary-bg {
    background-color: var(--second-bg-color);

}

.rounded-full {
    border-radius: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
  
  }

#wrapper {
    overflow-x: hidden;
    /* background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); */
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    font-size: 1.2rem;
}


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    font-size: 1.4rem;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 10%;
    cursor: pointer;

}

.list-group-item a {
    cursor: pointer;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.add-users-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 15px;
    width: 180px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.top-user-section {
    position: absolute;
    top: 30px;
    right: 30px;
}

.view-user-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.user-content {
    margin-top: -150px;
}

.table {
    margin: auto;
    margin-top: 40px;
}

.user-section {
    height: 85%;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    border-radius: 18px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.836));
}


/* ADD USER  */

input {
    width: 300px;
    margin: 10px 10px 20px 10px;
    height: 40px;
    border-color: #06063d;

}

select {
    width: 300px;
    margin: 10px 10px 10px 10px;
    height: 40px;
    border-color: #06063d;
    border-width: 2px;
}

h5 {
    font-size: 22px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.user-form {
    margin-top: -10%;
}

.user-view-form {
    margin-top: -10%;
    display: flex;
}


.back-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 30px;
    top: 30px;
}


.save {
    position: relative;
}

.save-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 37%;
    margin-top: 10%;

}

.edit-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 37%;
    margin-top: 10%;

}

.edit2-btn {
    background-color: #2a2a72;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 48%;
    margin-top: 1%;

}

.edit2-btn a {

    color: white;
    text-decoration: none;

}

.user-view-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


.view-input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.view-input h3 {
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-right: 10px;
    color: #0a375c;

}

.view-input h6 {
    font-size: 26px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}