:root {
  --main-bg-color: #948be9;
  --main-text-color: #00688B;
  --second-text-color: #50A6C2;
  --second-bg-color: #ebebf5;
}


.coverlogo::before {    
      content: "";
  background-image: url(/Punong-Barangay-Philippines-Record-master/public/img/phbarangay-logo.png);
      background-size: cover;
      position: absolute;
      top: -40%;
      right: 0px;
      bottom: 0;
      left:0%;
      opacity: 0.3;
}




.doe {
  color: black;
}

.john {
  color: black;
}


.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
font-size: 1.2rem;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  font-size: 1.4rem;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 10%;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
